.App {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-right: 20px;
}

.custom-button {
  font-size: 20px; 
  padding: 15px 30px; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.custom-button:hover {
  background-color: #0056b3; 
}

